<nlog xmlns="c/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="NLog.trace">

  <targets>
    <target xsi:type="File"
		        name="logfile"
		        fileName="${basedir}/.logs/${shortdate}.log"
		        layout="${longdate} [${level:uppercase=true}] [${threadid}] [${logger}] ${message}" />
    <target xsi:type="ColoredConsole"
		        name="con"
		        layout="${longdate} [${level:uppercase=true}] [${threadid}] [${logger}] ${message}">
      <highlight-row
				condition="level == LogLevel.Fatal"
				backgroundColor="Red"
				foregroundColor="White" />
      <highlight-row
				condition="level == LogLevel.Error"
				foregroundColor="Red" />
      <highlight-row
				condition="level == LogLevel.Debug"
				foregroundColor="Green" />
    </target>
    <target name="NLogViewer" xsi:type="NLogViewer" layout="${longdate} [${level:uppercase=true}] [${callsite:includeSourcePath=false}] ${message} ${exception:format=tostring}" address="tcp4://localhost:4505" />
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,con,NLogViewer,debugger" />
  </rules>

</nlog>