<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CPlugin.Common" version="1.0.6.74" targetFramework="net452" />
  <package id="CPlugin.PlatformWrapper.MetaTrader4" version="4.1045.0.19" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NLog" version="5.0.0-beta05" targetFramework="net452" />
</packages>