<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CPlugin.Common" version="1.0.6.70" targetFramework="net452" />
  <package id="CPlugin.PlatformWrapper.MetaTrader4" version="4.840.18.119" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="5.0.0-beta05" targetFramework="net452" />
</packages>